<section class="bc-trust">
  <div class="bc-trust__inner">
    
    <p class="bc-trust__title">
      Tus datos financieros están seguros y protegidos
    </p>

    <div class="bc-trust__grid">

      <div class="bc-trust__item">
        <i class="fa-solid fa-lock"></i>
        <h4>Cifrado SSL de 256 bits</h4>
        <p>Seguridad de nivel bancario para todas las transferencias de datos.</p>
      </div>

      <div class="bc-trust__item">
        <i class="fa-brands fa-stripe"></i>
        <h4>Pagos seguros con Stripe</h4>
        <p>Infraestructura de facturación recurrente compatible con PCI.</p>
      </div>

      <div class="bc-trust__item">
        <i class="fa-solid fa-cloud"></i>
        <h4>Almacenamiento en la nube cifrado</h4>
        <p>Tus extractos bancarios se almacenan y procesan de forma segura.</p>
      </div>

      <div class="bc-trust__item">
        <i class="fa-solid fa-user-shield"></i>
        <h4>Privacidad ante todo</h4>
        <p>Nunca vendemos ni compartimos tu información financiera.</p>
      </div>

    </div>

  </div>
  </section>
   